@font-face {
    font-family: "Armata";
    src: url("../font/Armata-Regular.otf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("../font/LiberationSans-Regular.ttf");
}

body {
    background: #f6f6f6;
    height: auto;
    font-family: "Liberation Sans", sans-serif;
    position: relative;
    min-height: 100%;
    padding-bottom: 215px;
}

body > main > .row {
    margin: 20px auto;
}

.conf-big-panel:hover {
    -webkit-transition: box-shadow 1s linear;
    -o-transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear;
    transition: box-shadow 500ms linear;
    box-shadow: 1px 1px 5px 2px #9B9B9B;
}

a {
    color: #056687;
    transition: color 1s;
}

a:hover {
    color: #052087;
    transition: color 2s;
}

button[data-filter] {
    width: 4.8rem;
    padding: 2px;
}

small {
    font-size: 13px;
}

.columns.small-right, .columns.large-right {
    float: right;
}

#accueil {
    background: url("../img/background-accueil.png") no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 50px 0;
}

@media (min-width: 650px) {
    #accueil {
        margin: 0 auto;
        max-width: 85rem;
    }
}

.panel {
    -moz-box-shadow: 1px 1px 5px 2px #c0c0c0;
    -webkit-box-shadow: 1px 1px 5px 2px #c0c0c0;
    box-shadow: 1px 1px 5px 2px #c0c0c0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: #FFF;
    border: none;
}

#accueil .panel {
    -moz-box-shadow: 1px 1px 5px 2px #9B9B9B;
    -webkit-box-shadow: 1px 1px 5px 2px #9B9B9B;
    box-shadow: 1px 1px 5px 2px #9B9B9B;
}

.inline-block {
    display: inline-block;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3, a.button {
    font-family: Armata, sans-serif;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 19px;
    font-weight: bold;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

.note-0, .note-1, .note-2, .note-3, .note-4, .note-5, .note-6 {
    width: 109px;
    height: 92px;
    background: url("../img/hexagone-note-sprites.png");
    text-align: center;
    line-height: 92px;
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #FFF;
}

.panel h2 {
    text-align: left;
}

.note-0 {
    background-position: 0 0;
}

.note-1 {
    background-position: 220px 0;
}

.note-2 {
    background-position: 111px 0;
}

.note-3 {
    background-position: 0 188px;
}

.note-4 {
    background-position: 220px 188px;
}

.note-5 {
    background-position: 111px 188px;
}

.note-6 {
    background-position: 0 284px;
}

.note ul {
    font-size: 12px;
    margin: 0;
}

.note ul > li {
    display: inline-block;
    list-style: none;
}

footer {
    background-color: #CECECE;
    padding: 0.6rem 0;
    border-top: solid #056687 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer p {
    margin-bottom: 0;
}

footer .row {
    max-width: 72.5rem;
}

footer .center, .links > a {
    text-align: center;
    display: block;
}

footer .links {
    margin: 15px 0;
}

.large-footer > .row {
    margin-bottom: 0.5rem;
}

.social-link > .columns{
    padding-top: 5px;
}

.social > img {
    margin-top: 20px;
}

.sitemap {
    text-align: left;
    padding: 0 5px;
}

.sitemap a + a {
    display: block;
    max-width: 250px;
    border-top: solid #959595 1px;
}

.sitemap * {
    padding: 3px 15px;
}

footer .right {
    text-align: right;
}

h5 {
    margin-bottom: 15px;
}

.contact p {
    margin: 5px 0;
}

#legal-line {
    background-color: #737373;
    border-top: solid #959595 3px;
    color: #FFF;
}

#legal-line a {
    color: #FFF;
}

#legal-line a:hover {
    color: #FFF;
    text-decoration: underline;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

input[type=radio] {
    margin: 0.5rem 0px 1rem;
}

.radio-participants {
    padding-left: 82px;
}

.small-5.large-5.columns {
    padding-right: 0;
}

.small-6.large-7.columns {
    padding-left: 0;
}

.small-3.large-1 {
    margin-left: 15px;
    position: absolute;
}

.small-3.large-2.columns.middle {
    padding-top: 5px;
    text-align: center;
}

.small-7.large-5.columns {
    float: left;
}

.radio-boutons {
    margin-left: 15px;
}

section p a {
    color: #052087;
    font-family: Armata, sans-serif;
}

section .partage > img {
    padding: 0 5px;
}

section a img {
    float: right;
}

#login-box {
    text-align: center;
    background-color: #FFF;
    padding-top: 30px;
    margin-bottom: 30px;
}

.decalage {
    height: 100px;
}

div.large-3.columns.small-8 {
    padding-left: 0px;
    margin-top: 10px;
}

.titre {
    margin-bottom: 20px;
}

@media only screen and (max-width: 40em) {
    h1 {
        font-size: 19px;
    }

    h2 {
        font-size: 17px;
    }
}

@media only screen and (min-width: 40em) and (max-width: 64em) {
    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 20px;
    }

}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64em) and (max-width: 90em) {
    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 23px;
    }
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

.panel.grid-item {
    margin-left: 5px;
    padding: 1rem;
}

#list-conf .conf-big-panel {
    width: 100%;
}

.panel h4 {
    font-size: 16px;
}

.panel h5 {
    font-size: 16px;
}

header {
    border-bottom: solid #056687 5px;
}

header .row {
    max-width: 72.5rem;
    margin-bottom: 0.5rem;
    margin-top:    0.5rem;
    max-height: 3rem;
}

header .align-right {
    float: right;
}

header ul {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

header li {
    display: inline-block;
}

header ul > li > a {
    border-bottom: 1px solid transparent;
    transition: border-color ease-in-out 300ms;
}

header ul > li > a:hover {
    color: #056687;
    text-decoration: underline;
    transition: border-color ease-in-out 300ms;
}

header li + li {
    padding: 0 8px;
}

header .row > .columns {
    height: 36px;
}

header .columns.align-right {
    padding-top: 5px;
    font-size: 1.2rem;
}

form .row .row.collapse {
    margin-bottom: 10px;
    margin-top: 10px;
}

header nav.tab-bar {
    background-color: #FFF;
}

.breadcrumbs {
    width: 100%;
    border: none;
}

.row.no-margin-top {
    margin-top: 0;
    padding: 0;
    max-width: 72.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

nav .left-small {
    position: relative;
}

nav .menu-icon {
    color: #FFFFFF;
    display: block;
    height: 2.8125rem;
    position: relative;
    text-indent: 2.1875rem;
    transform: translate3d(0, 0, 0);
    width: 2.8125rem;
}

nav .menu-icon span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.90625rem;
    box-shadow:  0 0 0 2px #056687, 0 8px 0 2px #056687, 0 16px 0 2px #056687;
    width: 1.5rem;
}

nav section a img {
    float: none;
}

nav .menu-icon span:hover:after {
    box-shadow: 0 0 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3;
}

nav .left-small {
    border: none;
}

.hide-for-large .row + .row {
    width: 93%;
    height: 50%;
    padding: 0.2rem;
}

.mobile-nav {
    display: inline-flex;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    transition: left 1s;
    padding: 25px 0 0;
    -moz-box-shadow: 1px 0px 5px 1px #9b9b9b;
    -webkit-box-shadow: 1px 0px 5px 1px #9b9b9b;
    box-shadow: 1px 0px 5px 1px #9b9b9b;
}

.mobile-nav-item {
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
}

.mobile-nav-item a {
    text-decoration: none;
    color: #056687;
    text-transform: uppercase;
}

.mobile-nav-item:hover {
    background-color: #CECECE
}

.mobile-nav-item.active a {
    color: #FF5A36;
}

@media (max-width: 1025px) {
    .mobile-nav {
        width: 15rem;
        background-color: #e6e6e6;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: 2;
        display: block;
        border: none;
    }
}

#button-open, #button-open-input {
    width: 50px;
    height: 40px;
    position: fixed;
    top: 4px;
    left: 4px;
    z-index: 2;
    display: none;
}

#button-open-input {
    opacity: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
}

#button-open-input:hover {
    cursor: pointer;
}

#button-close-input {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(115, 115, 115, 0.5);
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    display: none;
    transition: background-color 1000ms linear
}

#button-close-input:checked ~ ul {
    left: -80%;
}

#button-close-input:checked {
    right: -100%;
    transition: background-color 1000ms linear
}

#button-open-input, #button-open, #button-close-input {
    display: block;
}

.mobile-nav h2 {
    padding-top: 2rem;
}

.panel .row {
    margin: 0;
}

.button.button-small {
    font-family: "Liberation Sans", sans-serif;
    font-size: 12pt;
    padding: 10px;
}

button[data-filter].panel {
    width: inherit;
}

input.button {
  width: 100%;
  padding: 10px;
}
