<div class="row">
	<div class="social center">
		<p>Retrouvez nous sur twitter ! <a href="index.html"><img src="img/ico_twitter.png" alt="Icone twitter" /></a></p>
	</div>
	<div class="links center">
		<a href="mentions-legales.html">Mentions légales</a>
		<a href="contact.html">Contact</a>
		<a href="">Confidentialité et vie privée</a>
		<a href="">Plan du site</a>
	</div>
	<small>@ 2015 Hexaconf.fr</small>
</div>
