<div class="large-footer">
    <div class="row">
        <div class="sitemap medium-3 large-3 columns">
            <a href="mentions-legales.html">Mentions légales</a>
            <a href="contact.html">Contact</a>
            <a href="">FAQ</a>
        </div>
        <div class="social medium-6 large-6 columns center">
            <a href="index.html">
                <img src="img/logo-hexaconf-large.png" alt="Logo hexaconf" width="250" height="56"/>
            </a>
        </div>
        <div class="medium-3 largue-3 columns">
            <div class="row social-link">
                <div class="medium-12 large-12 columns">
                    <a href="https://twitter.com/HexaConf"><img src="img/ico_twitter.png" alt="Icone twitter"/>
                        @HexaConf</a>
                </div>
                <div class="medium-12 large-12 columns">
                    <a href="mailto:hexaconf@gmail.com"><img src="img/ico_email.png" alt="Icone mail"/>
                        hexaconf@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div id="legal-line">
        <div class="row">
            <div class="medium-4 large-4 columns">
                @ 2015 Tous droits réservés
            </div>
            <div class="medium-5 large-5 columns right">
                <a href="mentions-legales.html">Mentions légales</a> | Développé par le groupe 4
            </div>
        </div>
    </div>
</div>