<nav class="hide-for-large">
    <div class="row">
        <section id="menu" class="left-small">
            <div class="menu-icon">
                <span>
                </span>
            </div>
            <input id="button-open-input" type="radio" name="menuButton">
            <input id="button-close-input" type="radio" name="menuButton" checked="">
            <ul class="mobile-nav">
                <li class="mobile-nav-item"><a href="index.html">Accueil</a></li>
                <li class="mobile-nav-item"><a href="conferences.html">Conférences</a></li>
                <li class="mobile-nav-item"><a href="agenda.html">Agenda</a></li>
                <li class="mobile-nav-item"><a href="ajoutConference.html">Proposer une conférence</a></li>
                <li class="mobile-nav-item"><h2>Mon compte</h2></li>
                <li class="mobile-nav-item"><a href="login.html">Se connecter</a></li>
                <li class="mobile-nav-item"><a href="subscribe.html">S'inscrire</a></li>
            </ul>
        </section>
        <section class="right tab-bar-section">
            <a href="index.html">
                <img src="img/logo-hexaconf-small.png" alt="Logo d'Hexaconf" height="36" width="160">
            </a>
        </section>
    </div>
    <div class="row">
        <div class="row collapse prefix-radius">
            <div class="small-1 large-2 columns">
                <a href="">
                    <span class="prefix"></span>
                </a>
            </div>
            <div class="small-11 large-10 columns">
                <input type="text" placeholder=" Rechercher">
            </div>
        </div>
    </div>
</nav>