<div class="row">
    <div class="medium-4 large-2 columns">
        <a href="index.html"><img src="img/logo-hexaconf-medium.png" alt="Logo hexaconf" width="200" height=""></a>
    </div>
    <div class="medium-8 large-7 columns">
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="conferences.html">Conférences</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li><a href="ajoutConference.html">Proposer une conférence</a></li>
        </ul>
    </div>
    <form class="medium-4 large-5 columns">
        <div class="row">
            <div class="medium-6 large-4 columns">
                <a href="search.html"><span class="prefix"><img src="img/ico_search.png" alt="Icone"></span></a>
            </div>
            <div class="medium-6 large-8 columns align-right">
                <a href="login.html" class="align-right">
                    <img src="img/ico_perso.png" alt="">Mon compte
                </a>
            </div>
        </div>
    </form>
</div>